WebAppWarcraftFriends/Connected Services/ServiceReferenceCharacter/MicroServiceCharacter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCharacterDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="realm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCharacterDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCharacterDetailsResult" type="tns:Character" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Character">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Faction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Realm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Race" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Main" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCharacterDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCharacterDetails" />
  </wsdl:message>
  <wsdl:message name="GetCharacterDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCharacterDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="MicroServiceCharacterSoap">
    <wsdl:operation name="GetCharacterDetails">
      <wsdl:input message="tns:GetCharacterDetailsSoapIn" />
      <wsdl:output message="tns:GetCharacterDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MicroServiceCharacterSoap" type="tns:MicroServiceCharacterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCharacterDetails">
      <soap:operation soapAction="http://tempuri.org/GetCharacterDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MicroServiceCharacterSoap12" type="tns:MicroServiceCharacterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCharacterDetails">
      <soap12:operation soapAction="http://tempuri.org/GetCharacterDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MicroServiceCharacter">
    <wsdl:port name="MicroServiceCharacterSoap" binding="tns:MicroServiceCharacterSoap">
      <soap:address location="http://localhost:64085/MicroServiceCharacter.asmx" />
    </wsdl:port>
    <wsdl:port name="MicroServiceCharacterSoap12" binding="tns:MicroServiceCharacterSoap12">
      <soap12:address location="http://localhost:64085/MicroServiceCharacter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>